<main>
    <h1 class="combine-colour">Create Product</h1><br> 
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form (submit)="onSubmit(productForm)" #productForm="ngForm" class="custom-form">              
                <div id="response">
                        <p *ngIf="successMessage">{{ successMessage }}</p>
                        <p *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ProductName" class="control-label">Product Name</label>
                            <input id="ProductName" name="productName" type="text" class="form-control" [(ngModel)]="productForm.value['productName']" required>
                            <span class="text-danger" *ngIf="productForm.controls['productName'].invalid && productForm.controls['productName'].touched">
                                Product Name is required.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="ProductDescribtion" class="control-label">Product Description</label>
                            <input id="ProductDescribtion" name="productDescribtion" type="text" class="form-control" [(ngModel)]="productForm.value['productDescribtion']" required>
                            <span class="text-danger" *ngIf="productForm.controls['productDescribtion'].invalid && productForm.controls['productDescribtion'].touched">
                                Product Description is required.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="ProductQuantity" class="control-label">Product Quantity</label>
                            <input id="ProductQuantity" name="productQuantity" type="number" class="form-control" [(ngModel)]="productForm.value['productQuantity']" required>
                            <span class="text-danger" *ngIf="productForm.controls['productQuantity'].invalid && productForm.controls['productQuantity'].touched">
                                Product Quantity is required.
                            </span>
                        </div>
                        <div class="form-group">
                            <label for="ProductCost" class="control-label">Product Cost</label>
                            <input id="ProductCost" name="productCost" type="number" class="form-control" [(ngModel)]="productForm.value['productCost']" required>
                            <span class="text-danger" *ngIf="productForm.controls['productCost'].invalid && productForm.controls['productCost'].touched">
                                Product Cost is required.
                            </span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" >
                            <label for="ProductBarCode" class="control-label">Product Barcode</label>
                            <input id="ProductBarCode" name="productBarCode" type="string" class="form-control" pattern="^\d{15}$" [(ngModel)]="productForm.value['productBarCode']"  (blur)="checkBarcodeUniqueness(productForm)"required>
          
                            <span class="text-danger" *ngIf="productForm.controls['productBarCode'].invalid && barcodeNotUnique && productForm.controls['productBarCode'].touched">
                                Please enter a valid 15-digit barcode
                            </span>
                              
                            <span class="text-danger" *ngIf="productForm.controls['productBarCode'].invalid && productForm.controls['productBarCode'].touched && !barcodeNotUnique">
                                Product Barcode is required.
                            </span>
                            <span class="text-danger" *ngIf="!barcodeNotUnique && productForm.controls['productBarCode'].touched && productForm.controls['productBarCode'].valid">
                                Product Barcode must be unique.
                            </span>
                            
                        </div>
                        <div class="form-group">
                            <label for="ProductCategory" class="control-label">Product Category</label>
                            <input id="ProductCategory" name="productCategory" type="text" class="form-control" [(ngModel)]="productForm.value['productCategory']" required>
                            <span class="text-danger" *ngIf="productForm.controls['productCategory'].invalid && productForm.controls['productCategory'].touched ">
                                Product Category is required.
                            </span>
                            
                        </div>
                        <div class="form-group">
                            <label for="SupplierId" class="control-label">Supplier ID</label>
                            <input id="SupplierId" name="supplierId" type="number" class="form-control" [(ngModel)]="productForm.value['supplierId']" required>
                            <span class="text-danger" *ngIf="productForm.controls['supplierId'].invalid && productForm.controls['supplierId'].touched">
                                Supplier ID is required.
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary"  [disabled]="!productForm.valid" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="Index">Back to List</a>
    </div>
</main>
