<header>
    <nav class="navbar navbar-expand-md navbar-light ">
       <div class="container-fluid">
           <div class="row align-items-center">
               <div class="col-auto">
                   <img src="../assets/logo.png" alt="Inventory Logo"  class="logo">
               </div>
               <div class="col text-center">
                   <h1 class="head">Inventory Pro</h1>
               </div>
           </div> 
           
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
              </button>        
           <div class="collapse navbar-collapse justify-content-end" id="navbarNav">   
             <ul  >
               <li class="nav-item"  >
                
                 <a class="nav-link" routerLinkActive='active' [routerLink]="['/index']" >Home</a>
               </li>
               <li class="nav-item"  *ngIf="isLoggedIn">
                 <a class="nav-link" routerLinkActive="Active" [routerLink]="['/create']" >Create</a>
               </li>
               <li class="nav-item"  *ngIf="isLoggedIn">
                 <a class="nav-link" routerLinkActive="Active" [routerLink]="['/details']" >Details</a>
               </li>
               <li class="nav-item"  *ngIf="isLoggedIn">
                <a class="nav-link" routerLinkActive="Active" [routerLink]="['/edit']" >Edit</a>
              </li>
               <li class="nav-item"  *ngIf="isLoggedIn">
                <a class="nav-link" routerLinkActive="Active" [routerLink]="['/delete']" >Delete</a>
               </li>
               <li class="nav-item dropdown"  *ngIf="isLoggedIn">
                 <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >
                   More
                 </a>
                 <div class="dropdown-menu">
                  <a class="nav-link" routerLinkActive="Active" [routerLink]="['/fetchall']" >Products</a>
                  <a class="nav-link" routerLinkActive="Active" [routerLink]="['/fetchAllFilter']" >Low stock</a>
                  <a class="nav-link" routerLinkActive="Active" [routerLink]="['/fetchAllAssociation']" >Associated Products</a>
                  <a class="nav-link" routerLinkActive="Active" [routerLink]="['/fetchAllJoin']" >Product With Supplier</a> 
                  <a class="nav-link" routerLinkActive="Active" [routerLink]="['/salesreport']" >Sales Report</a> 
                </div>

               </li>     
                                              
               <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLinkActive="Active" [routerLink]="['/login']" >Login</a>
            </li>
            <li class="nav-item" *ngIf="isLoggedIn">
              <span></span>
                <a class="nav-link" routerLinkActive="Active" [routerLink]="['/logout']" (click)="logout()" >{{loggedInUsername}} Logout</a>
            </li>
            
             </ul>
           </div>
         </div>
       </nav>
</header>
<div >
  <div class="container-fluid">
  <div class="row">
      <main role="main" class="col-md-12">
<router-outlet></router-outlet>
<ng-toast></ng-toast>
</main>
</div>
</div>
<footer>
    <img src="../assets/footerlogo.png" alt="Mobile Shop Logo" class="footerlogo">  
    <p>&copy; 2024 <span> Inventory Pro</span>. All rights reserved.</p>
    <p>Developed by<strong><span style="color: #e7962c;"> Aravindha samy</span></strong></p>
</footer>
  